/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: auto;
    margin: auto;
}
.header{
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    position: fixed;
}
.header-flex{
    display: flex;
    height: 60px;
}
.left a{
    text-decoration: none;
    color: #7a6960;
    font-family: "Raleway", sans-serif;
  
}
.left h1{
    color: aliceblue;
    font-size: 30px;
    padding-top: 15px;
    padding-left: 20px;
}
.right{
  display: flex;
  padding-left: 400px;
}
.right a{
    text-decoration: none;
    color: #7a6960;
}
.right li{
    list-style-type: none;
    padding-left: 20px;
    padding-top: 20px;
}
.head-button button{
    width: 120px;
    height: 30px;
    margin-left: 20px;
    margin-top: 13px;
    border-radius: 20px;
    background-color:  #eb5d1e;
    color: white;
    border: none;
}


/* banner */
/* 
.banner{
    background: #fef8f5;
    border-bottom: 2px solid #fcebe3;
}
.banner-flex{
    display: flex;
    padding-top: 10px;
   
}
.banner-left{
    width: 50%;
    padding-top: 100px;
    margin-left: 20px;
}
.banner-left h1{
    font-size: 48px;
    color: #4e4039;
    font-family: "Raleway", sans-serif;
}
.banner-left p{
    font-size: 25px;
    color: #4e4039;
    padding-top: 20px;
    font-family: "Raleway", sans-serif;
}
.banner-left button{
    width: 120px;
    height: 35px;
    border-radius: 20px;
    background-color: #eb5d1e;
    color: #fff;
    border: none;
    margin-top: 20px;
}
.banner-right{
    width: 50%;
}
.banner-right img{
    width: 500px;
    height: 400px;
    margin-left: 100px;
    margin-top: 50px;
} */


/* about */

/* .about-flex{
    display: flex;
}
.about-left{
    width: 50%;
    margin-left: 35px;
}
.about-left img{
   width: 500px;
   height: 400px;
}
.about-right{
    width: 50%;
    padding-left: 40px;
    padding-top: 40px;
}
.about-right h1{
    font-size: 34px;
    color: #4e4039;
    font-family: "Raleway", sans-serif;
}
.about-right p{
    font-size: 18px;
    padding-top: 10px;
    color: #5a6570;
}
.about-center{
    display: flex;
}
.box{
    padding-top: 20px;
}
.box i{
    font-size: 35px;
    color: #eb5d1e;
}
.box h2{
   font-size: 25px;
   padding-top: 20px;
   color: #7a6960;
}
.box p{
    font-size: 18px;
    color: #5a6570;
} */ 


/* services */
.container{
    width: 90%;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.service{
    background-color: #fef8f5;
}
.service-head{
    text-align: center;
}
.service-head h4{
    font-size: 20px;
    padding-top: 20px;
}
.service-head h1{
    font-size: 30px;
}
.part{
    box-shadow: 0 10px 29px 0 rgb(68 88 144 / 10%);
    width: 80%;
    height: auto;
    border-radius: 10px;
    margin-left: 30px;
    margin-bottom: 20px;
    background-color: #fff;
    text-align: center;
    padding-top: 20px;
}
.part i{
    font-size: 30px;
    color: #ef7f4d;
}
.part h2{
    font-family: "Raleway", sans-serif;
}
.part p{
    font-size: 20px;
    padding:0 15px 0 15px;
    line-height: 20px;
}

@media(min-width:768px){
    .container{
        width: 100%;
    }
    .service{
        background-color: #fef8f5;
    }
    .service-flex{
       
        display: flex;
    }
    .nagaraj{
        width: 50%;
        display: flex;
        flex-wrap: wrap;
    }
    .service-head{
        text-align: center;
    }
    .service-head h4{
        font-size: 20px;
        padding-top: 20px;
    }
    .service-head h1{
        font-size: 30px;
    }
    .part{
        box-shadow: 0 10px 29px 0 rgb(68 88 144 / 10%);
        height: 200px;
        border-radius: 10px;
        background-color: #fff;
        text-align: center;
        padding-top: 20px;
    }
    .part i{
        font-size: 30px;
        color: #ef7f4d;
    }
    .part h2{
        font-family: "Raleway", sans-serif;
    }
    .part p{
        font-size: 20px;
        padding:0 15px 0 15px;
        line-height: 20px;
    }
}
@media(min-width:1024px){

}



/* portfolio */
.port-head{
    text-align: center;
    padding-top: 20px;
}
.port-head h4{
    font-size: 20px;
}
.port-head h1{
    font-size: 25px;
}
.port-btn{
    text-align: center;
}
.port-btn button{
    border: none;
}
.port-flex img{
    width: 95%;
    border-radius: 10px;
    margin-left: 8px;
    margin-top: 10px;
}



/* faq */


summary{
    list-style-type: none;
}



/* team */

.team-head{
    text-align: center;
}
.team-flex img{
    width: 95%;
}